/****************************************************************************
 * styles.css
 *
 * Computer Science 50
 * Recycle-Harvard
 *
 * Annie Baldwin and Natalie Jacewicz
 * styles sheet
 ***************************************************************************/


/* eliminate borders around images in anchor tags */
a img
{
    border: 0;
}

/* defaults for body */
body
{
    background: #228B22;
    color: #27408B;
    font-family: sans-serif;
    text-align: center;
    margin: 0;
}

/* center text in bottom div */
div#bottom
{
    margin: 1em;
    text-align: center;
}

/* center text in middle div */
div#middle
{
    text-align: center;
}

/* center text in top div */
div#top
{
    width:500px;
    margin:0px auto;
    text-align: center;
}

/* eliminate margins around forms */
form
{
    margin: 0;
}

/* center tables */
table
{
    margin-left: auto;
    margin-right: auto;
}

/* eliminate borders around table cells */
td
{
    border: 0;
}
